<p-dialog header="Add City" [(visible)]="cityDialogStatus" [modal]="true" [closable]="false" [responsive]="true"
  [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

  <form role="form" [formGroup]="cityDetail" #formDir="ngForm" novalidate >
    <div class="form-group">
      <label for="email">Title:</label>
      <input type="email" class="form-control" formControlName="title" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Color:</label>
      <input type="text" class="form-control" formControlName="color" id="color">
    </div>
    <div class="form-group">
      <label for="pwd">Detail:</label>
      <textarea class="form-control" rows="5" formControlName="text" id="detail"></textarea>
    </div>
  </form>

  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="saveCityDetail()" label="Save"></button>
    <button type="button" pButton icon="pi pi-close" (click)="cancel()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
