<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" >City</a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </nav>