<div class="container">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="col-lg-2 col-md-2 col-xs-2">
      <app-sidebar [city]="cityList" (selectedCity)="onSelectCity($event)"></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-9 col-xs-9">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <p-button label="Add City" (click)="addCity()" style="padding-bottom:20px"></p-button>
        <p-table [value]="cityList">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Color</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td>
                #{{rowData.id}}
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text"  [(ngModel)]="rowData.title" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{rowData.title}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="rowData.color">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{rowData.color}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <i class="fa fa-trash" style="cursor: pointer;" (click)="delete(rowData)" aria-hidden="true"></i>
              </td>
            </tr>

          </ng-template>
        </p-table>
      </div>

      <div class="col-lg-12 col-md-12 col-xs-12 txtArea">
        <textarea rows="5" cols="20" pInputTextarea autoResize="autoResize" [(ngModel)]="cityDetail.text"></textarea>
      </div>
    </div>
  </div>
</div>
<app-city-dialog [cityDialogStatus]="displayCityDialog" (cancelEvent)="cancelEvent($event)" (saveCityEvent)="saveCityEvent($event)"></app-city-dialog>
