<div id="layout-sidebar">
  <div class="layout-menu">
    <div class="col-sm-12 pd0"  *ngFor="let list of city" [ngClass]="{'menuActive': list.active }">
      <div class="vl col-sm-3" [style.color]="list.color"></div>
      <div class="col-sm-9" (click)="onSelectCity(list)">
        <a id="menu_input"><span>{{list.title}}</span></a>
      </div>
    </div>

  </div>
</div>
