/* You can add global styles to this file, and also import other style files */
#layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100% - 70px);
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  border-right: 1px solid gainsboro;
}

#layout-sidebar .layout-menu {
  overflow-y: auto;
  width: 300px;
}

#layout-sidebar .layout-menu>div>div>a {
  width: 100%;
  height: 50px;
  display: block;
  padding: 15px 0 0 25px;
  cursor: pointer;
  border-bottom: 1px solid #e3e9ea;
  box-sizing: border-box;
}

#layout-sidebar .layout-menu>div>div>a span {
  color: #34393a;
  font-size: 16px;
  margin: -2px 0 0 30px;
  display: block;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 50%;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.vl {
  border-left: 5px solid;
  height: 50px;
  position: absolute;
  top: 0;
}

.txtArea {
  padding-top: 25px
}

.menuActive {
  background-color: #c8c8c8;
  color:black
}

.pd0{
  padding: 0px
}